<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lilSnake</title>

    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');</style>
</head>
<body>
    <canvas id="snake"></canvas>

    <script src="http://localhost:8080/public/snake.js"></script>
</body>
</html>